// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$skinActiveColor: #1B804D;
$panelHeaderBck: #1B804D;
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin_flat_skin";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "jquery.fancybox.min.css";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
form.applicant .has_many_remove {
  display: none;
}

div.batch_actions_selector {
  display: none;
}

.label {
  display: inline-block;
  width: 100%;
}

.separated {
  margin-top: 5%;
}

div.quick-errors {
  background-color: #F44336;
  color: #fff;
  padding: 5%;
}

.header#header {
  height: 100%;
}

#sidebar {
  display: none;
}

#footer {
  display: none;
}

p.inline-errors {
  margin: 0 !important;
}


// REGLAS PARA LA ACCIÓN SHOW DE ADMIN::APPLICATIONS
div.application_header {
  background-color: $skinActiveColor;
  color: #FFFFFF;
  padding: 1%;
  text-align: center;
  font-size: 155%;
  p {
    margin: 0;
  }
}
div.application_details {
  border: 2px solid #AFAFAF;
  text-align: center;
  padding: 0 0 2% 0;
  div.field_block{
    display: inline-block;
    margin: 1%;
    border-bottom: 2px dotted #AFAFAF;
  }
  h1, h2, h3 {
    margin: 0;
    padding: 1%;
    background-color: #EEEFF1;
  }
  p{
    margin: 0;
    padding: 0 0 0 5px;
    display: inline;
    font-size: 150%;
    color: $skinActiveColor;

  }
  label{
    font-size: 130%;
    margin: 0;
  }
  p.sign_name {
    font-size: 150%;
    padding: 1% 0;
    margin: 0;
    border-bottom: 2px solid #AFAFAF;
    display: block;
  }
}

div.observations{
  clear: both;
  padding: 1% 0;
  div.author_data {
    float: left;
    width: 130px;
    span {
      font-size: 0.9em;
      line-height: 0;
    }
    h4 {
      margin: 0;
    }
    h4.admin_identifier {
      font-size: 100%;
      margin: 0;
    }
  }


}

div.new_observation {
  width: 50%;
  #observation_notes{
    width: 100%;
  }
}

div.status_button {
  display: inline-block;
  padding: 1% 1%;
  label{
    display: block;
  }
  .approve_circle{
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    i{
      padding: 15px 0;
      font-size: 200%;
    }
    background-color: #4CAF50;
  }
  .reject_circle{
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    i{
      padding: 15px 0;
      font-size: 200%;
    }
    background-color: #F44336;
  }
}

div.confirm {
  display: none;

  a.confirm_approve{
    font-size: 150%;
    color: white;
    padding: 1%;
    background-color: #4CAF50;
    margin-right: 1%;
  }
  a.confirm_reject {
    font-size: 150%;
    color: white;
    padding: 1%;
    background-color: #F44336;
    margin-right: 1%;
  }
  a.cancel_confirm {
    font-size: 150%;
    color: white;
    padding: 1%;
    background-color: #5d5b5b;
    margin-left: 1%;
  }
}

