// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin_flat_skin";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "jquery.fancybox.min.css";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
form.applicant .has_many_remove {
  display: none;
}

div.batch_actions_selector {
  display: none;
}

.label {
  display: inline-block;
  width: 100%;
}

.separated {
  margin-top: 5%;
}

div.quick-errors {
  background-color: #F44336;
  color: #fff;
  padding: 5%;
}

.header#header {
  height: 100%;
}

#sidebar {
  display: none;
}

#footer {
  display: none;
}

p.inline-errors {
  margin: 0 !important;
}

